@model FilmFolio.Models.Movie

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Movie Details</title>
</head>
<body>
    <br></br>
        <h2><strong style="color:black">Movie Details</strong></h2>
        <div class="row">
            <div class="col-md-4">

                <img src="@Model.ImageURL" class="img-fluid" alt="Movie Poster">
            </div>
            <div class="col-md-8">
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <td>@Model.MovieName</td>
                    </tr>
                    <tr>
                        <th>Director</th>
                        <td>@Model.Director</td>
                    </tr>
                    <tr>
                        <th>Stars</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Release Date</th>
                        <td>@Model.ReleaseYear</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>@Model.MovieDescription</td>
                    </tr>
                    <tr>
                        <th>Critics</th>
                        <td>
                            <h3><strong style="color:red">A pleasant surprise:</strong></h3>
                            This was an incredibly silly and fun movie that you really don't have to think too hard about.
                        </td>
                    </tr>
                    <tr>
                        <th>User Reviews and Ratings                  
                        </th>
                        <td>
                        <form method="post" action="@Url.Action("AddComment", "Comment")">
                            <input type="hidden" name="movieId" value="@Model.Id" />

                            <div class="form-group">
                                <label>Rating:</label>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rating" id="rating1" value="1" required>
                                    <label class="form-check-label" for="rating1">1</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rating" id="rating2" value="2" required>
                                    <label class="form-check-label" for="rating2">2</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rating" id="rating3" value="3" required>
                                    <label class="form-check-label" for="rating3">3</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rating" id="rating4" value="4" required>
                                    <label class="form-check-label" for="rating4">4</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rating" id="rating5" value="5" required>
                                    <label class="form-check-label" for="rating5">5</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="comment">Add Your Comment:</label>
                                <textarea class="form-control" id="comment" name="comment" rows="4" required></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary btn-sm" style="width: 170px; margin-right: 20px;">Add Comment</button>
                            <a asp-area="" asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary btn-sm" type="button" style="width: 150px; margin-right: 20px;">Comments</a>
                        </form>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>
</html>