@model List<Favorite>

@if (TempData["ok"] != null)
{
    <h2>@TempData["ok"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Favorite List</h1>
        </div>
    </div>

<table class="table table-border">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Movie ID
            </th>
            <th>
                Movie Name
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var favorite in Model){
                <tr style="background-color: white ; color: black;">
                <td>@favorite.Username</td>
                <td>@favorite.MovieID</td>
                <td>@favorite.Movie.MovieName</td>
                <td>
                    <a asp-controller="Favorite" asp-action="MovieAddEdit" asp-route-id="@favorite.Id" type="button" class="btn btn-success" style="width:75px">Edit</a>
                </td>
                <td>
                    <a asp-controller="Favorite" asp-action="DeleteMovie" asp-route-id="@favorite.Id" type="button" class="btn btn-danger" style="width:75px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row pt-3 pb-2">
    <div>
            <a asp-controller="Favorite" asp-action="MovieAddEdit" class="btn btn-lg btn-primary" type="button">Add to fav list
        </a>
    </div>
</div>

</div>