@model List<MovieGenre>

@if (TempData["ok"] != null)
{
    <h2>@TempData["ok"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Movie Genres</h1>
        </div>
    </div>

<table class="table table-border">
    <thead>
    

        <tr>
            <th>
                ID
            </th>
            <th>
                Movie Genre
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var movieGenre in Model){
            <tr>
                <td>@movieGenre.Id</td>
                <td>@movieGenre.Genre</td>
                <td>
                    <a asp-controller="MovieGenre" asp-action="EditMovieGenre" asp-route-id="@movieGenre.Id" type="button" class="btn btn-info" style="width:100px">Edit</a>
                </td>
                <td>
                    <a asp-controller="MovieGenre" asp-action="DeleteMovieGenre" asp-route-id="@movieGenre.Id" type="button" class="btn btn-danger" style="width:100px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row pt-3 pb-2">
    <div>
        <a asp-controller="MovieGenre" asp-action="MovieGenreAdd" class="btn btn-lg btn-primary" type="button">New Movie Genre
        </a>
    </div>
</div>

</div>